 /**
  * @file game.css
  * @author Kevin Ma kma45@my.centennialcollge.ca
  * @studentID 300867968
  * @date August 1, 2016
  * @description This file is the manifest for styling done on the game
  * @version 0.1.0 - intial commit
  */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*attempted to use custom font, did not work*/
/*@font-face {font-family: FlappyBird; src: url(../Assets/fonts/flappybirdfont.TTF) format(“truetype”); }*/

body {
    background-color: lightgrey;
}

.container {
    width: 100%;
}

canvas {
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    background-color: white;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/